.container {
  height: calc(100vh-60px);
  width: 100%;
  margin-top: 4.0rem;
}

.wrapper {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.title>h3 {
  font-size: 28px;
  color: #B2BCAA;
}

.categories {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.category {
  border: 2px solid #B2BCAA;
  padding: 0.5rem 1rem;
  background-repeat: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms all;
}

.category .active {
  scale: 1.1;
  color: #555;
}

.categories> :first-child {
  color: #B2BCAA;
}

.noMeal {
  margin-top: 5rem;
  text-align: center;
  margin-right: 20rem;
  font-size: 32px;
}

.meals {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.meal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.imgContainer {
  width: 150px;
  height: 150px;
}

.imgContainer>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.mealData {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mealData>h5 {
  text-transform: capitalize;
  font-size: 20px;
}

.mealData>span {
  display: inline-block;
  margin-left: 0.25rem;
}