.container {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 90%;
  width: 90%;
  margin-left: 3rem;
}

.details {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.details>h3 {
  color: #B2BCAA;
  font-size: 30px;
  font-weight: normal;
}

.details>p {
  color: #B2BCAA;
  font-size: 25px;
  font-weight: normal;
}

.noOrders {
  margin-top: 3rem;
  color: #B2BCAA;
  font-size: 30px;
  font-weight: 500;
}