.container {
  height: 130px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #B2BCAA;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-color: #ffd700;
}

.left {
  width: 30%;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 40px;
  text-align: center;
  width: 45%
}

.logo>a {
  text-decoration: none;
  text-align: center;
  color: #B2BCAA;
}

.logo>a:hover {
  color: #ffd700;
}

.right {
  display: flex;
  width: 60%;
  align-items: center;
  gap: 1.90rem;
}

.link>a {
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  color: #B2BCAA;
  width: 120px;
}

.link>a:hover {
  color: #ffd700;
  cursor: pointer;
}

.addMeal {
  border-radius: 5px;
  border: 2px solid #ffd700;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addMeal>a {
  text-decoration: none;
  color: #ffd700;
  font-size: 16px;
}

.addMeal:hover {
  scale: 1.2;
  background: #ffd700;
  transition: 150ms all ease-in-out;
}

.addMeal>a:hover {
  scale: 1.2;
  color: #252323;
  background-color: inherit;
  transition: 150ms all ease-in-out;
}

.logout {
  display: flex;
  align-items: center;
  width: 60px;
  height: 30px;
  border: 2px solid #B2BCAA;
  border-radius: 8px;
  justify-content: center;
}

.logout>a {
  text-decoration: none;
  color: #B2BCAA;
  font-size: 15px;
  transition: 150ms all ease-in-out;
}

.logout:hover {
  background-color: #B2BCAA;
  color: #252323;
  scale: 1.1
}

.logout>a:hover {
  background-color: inherit;
  color: #252323;
  scale: 1.1;
}